<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/notfound.css" />
  <link rel="stylesheet" href="css/header.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="header-container">
      <div class="logo-wrapper">
        <i class="fa-solid fa-link"></i>
        <p>NEB SHORTNER</p>
      </div>
    </div>
  </header>

  <main class="app">
    <div class="app-container">
      <div class="text-wrapper">
        <h1>URL INVÁLIDA</h1>
        <p>Parece que o código <span>
            <%=slug%>
          </span> é inválido ou está expirado!</p>
      </div>

      <div class="controller-wrapper">
        <a href="/">Ir ao menu </a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-container">
      <div class="texts-wrapper">
        <p>
          Feito com 💜 por
          <a href="https://github.com/itsLifeZ/Url-shortener">
            <span>Gustavo Matiello</span>
          </a>
        </p>
      </div>

      <div class="social-wrapper">
        <a href="https://github.com/itsLifeZ/Url-shortener">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </footer>
</body>

</html>